body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  width: 100%;
  background-color: #006496; /* Awnex primary blue */
  color: white;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.utility-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #005080; /* Slightly darker blue */
  position: sticky;
  top: 50px; /* Adjust based on the height of your header */
  z-index: 999;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar {
  height: calc(100% - 100px); /* Adjust based on header and utility bar height */
  width: 300px;
  min-width: 200px;
  max-width: 500px;
  position: fixed;
  top: 100px; /* Adjust based on header and utility bar height */
  left: 0;
  background-color: #002e7217; /* Awnex primary blue */
  padding-top: 20px;
  transition: width 0.3s;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: horizontal;
  overflow: auto;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff; /* White text color */
  display: block;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

.sidebar a:hover {
  color: #ffcb05; /* Awnex yellow */
}

#main {
  transition: margin-left 0.3s;
  padding: 16px;
  margin-left: 300px;
  margin-top: 100px; /* Adjust based on header and utility bar height */
  width: calc(100% - 300px);
  height: calc(100% - 100px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collapsed + #main {
  margin-left: 20px !important;
  width: calc(100% - 20px) !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  border: 1px solid #002d72; /* Awnex primary blue */
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 100%; /* Adjusted width to be responsive */
  background-color: #ffffff; /* White background */
  color: #002d72; /* Awnex primary blue text */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card div {
  margin-bottom: 5px;
}

.red {
  border-left: 10px solid #ee4b2b;
}

.orange {
  border-left: 10px solid #ffd580;
}

.blue-background-class {
  background-color: lightblue;
}

#loading-spinner {
  display: none;
  text-align: center;
  font-size: 18px;
}

#search-input, #refresh-button {
  width: 90%; /* Adjusted width to be responsive */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #006496; /* Awnex primary blue */
  border-radius: 5px;
  margin-bottom: 10px; /* Space between buttons */
}

#refresh-button {
  background-color: #006496; /* Awnex primary blue */
  color: #fff;
  cursor: pointer;
}

.iframe-container {
  width: 100%;
  height: calc(100% - 50px); /* Adjusted height to make space for controls */
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.browser-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px; /* Adds space between the buttons */
}

.browser-controls button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #006496; /* Awnex primary blue */
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.browser-controls button:hover {
  background-color: #004a8e; /* Slightly darker blue on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */
}
