body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  width: 100%;
  background-color: #006496; /* Awnex primary blue */
  color: white;
  padding: 10px 20px; /* Adjust padding to reduce height */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted to space between the title and utilities */
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px; /* Adjusted height */
}

header h1 {
  margin: 0;
  font-size: 1.2em; /* Adjust font size if necessary */
}

.header-utilities {
  display: flex;
  align-items: center;
}

.header-utilities input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #006496; /* Awnex primary blue */
  border-radius: 5px;
  background-color: #ffffff; /* White background to avoid transparency */
  margin-right: 10px; /* Space between input and other elements */
}

.header-utilities #refresh-button {
  background-color: #006496; /* Awnex primary blue */
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.browser-controls {
  display: flex;
  align-items: center;
}

.browser-controls button {
  margin: 0 5px;
  padding: 10px; /* Adjust padding to reduce button size */
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #006496; /* Awnex primary blue */
  border-radius: 5px;
  background-color: #006496; /* Awnex primary blue */
  color: #ffbe00; /* Icon color */
}

.browser-controls i {
  font-size: 20px; /* Adjust icon size if necessary */
  color: #ffbe00; /* Icon color */
}

.sidebar {
  height: calc(100% - 60px); /* Adjust based on header height */
  width: 300px;
  min-width: 200px;
  max-width: 500px;
  position: fixed;
  top: 60px; /* Adjust based on header height */
  left: 0;
  background-color: #002e7217; /* Awnex primary blue */
  padding-top: 20px;
  transition: width 0.3s;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: horizontal;
  overflow: auto;
}

.sidebar .sticky-controls {
  position: sticky;
  top: 0;
  background-color: inherit;
  width: 100%;
  padding: 10px 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsed {
  width: 0 !important;
  overflow: hidden;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff; /* White text color */
  display: block;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

.sidebar a:hover {
  color: #ffcb05; /* Awnex yellow */
}

#main {
  transition: margin-left 0.3s;
  padding: 16px;
  margin-left: 300px;
  margin-top: 60px; /* Adjust based on header height */
  width: calc(100% - 300px);
  height: calc(100% - 60px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collapsed + #main {
  margin-left: 20px !important;
  width: calc(100% - 20px) !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  border: 1px solid #002d72; /* Awnex primary blue */
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 100%; /* Adjusted width to be responsive */
  background-color: #ffffff; /* White background */
  color: #002d72; /* Awnex primary blue text */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card div {
  margin-bottom: 5px;
}

.red {
  border-left: 10px solid #ee4b2b;
}

.orange {
  border-left: 10px solid #ffd580;
}

.blue-background-class {
  background-color: lightblue;
}

#loading-spinner {
  display: none;
  text-align: center;
  font-size: 18px;
}

.iframe-container {
  width: 100%;
  height: calc(100% - 50px); /* Adjusted height to make space for controls */
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
